Django==1.7
MySQL-python==1.2.5
PyYAML==3.11
Pygments==2.0.1
beautifulsoup4==4.3.2
coverage==3.7.1
curtsies==0.0.34
gnureadline==6.3.3
greenlet==0.4.2
html5lib==1.0b3
ipython==2.2.0
mercurial==3.1.1
mock==1.0.1
nltk==3.0.0
requests==2.4.1
simplejson==3.6.3
six==1.8.0
vboxapi==1.0
virtualenv==1.11.6
wsgiref==0.1.2
zulip==0.2.2
